In [46]:
import json
cities = open('russian-cities.json', 'r', encoding="utf-8")
v = json.loads(cities.read())
address = []
for i in v:
    address.append(i['name'] + '|' + i['subject'])

In [1]:
import string
import numpy as np
import pandas as pd
def generate_random_string_numbers(length):
    letters = string.digits
    rand_string = ''.join(random.choice(letters) for i in range(length))
    return rand_string
def generate_mobile_phone():
    return '79' + generate_random_string_numbers(9)
def generate_other_phone():
    return '749' + generate_random_string_numbers(8)
emails = ['mail.ru', 'yandex.ru', 'gmail.com', 'outlook.com', 'yahoo.com']
def generate_email():
    return generate_random_string(10) + '@' + np.random.choice(emails) 
def generate_random_string(length):
    letters = string.digits + string.ascii_uppercase + string.ascii_lowercase
    rand_string = ''.join(random.choice(letters) for i in range(length))
    return rand_string
from datetime import timedelta, datetime
from random import randrange

def random_date(start, end):
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

d1 = datetime.strptime('1/1/2010 12:00 AM', '%m/%d/%Y %I:%M %p')
d2 = datetime.now()

In [51]:
cities.close()

In [47]:
street_file = open('main.txt', 'r', encoding="utf-8")
streets = []
for line in street_file:
    streets.append(line)

In [ ]:
data_contact = np.empty(shape=(350000), dtype=[('client_sk', int), 
                                        ('valid_from_dttm', datetime), 
                                        ('valid_to_dttm', datetime), 
                                        ('country', 'U50'), 
                                        ('region', 'U50')
                                        ('settlement', 'U100'), 
                                        ('street', 'U100'), 
                                        ('building', int), 
                                        ('appartment', 'U50'), 
                                        ('postal_index', 'U6'),
                                        ('etl_processed_dttm', datetime)])

In [ ]:
for i in range(350000):
    data[i][0] = random.randint(1, 200000)
    data[i][1] = random_date(d1, d2)
    data[i][3] = generate_mobile_phone()
    data[i][4] = generate_other_phone()
    data[i][5] = generate_other_phone()
    data[i][6] = generate_mobile_phone()
    data[i][7] = generate_email()
    data[i][8] = random_date(d1, d2)

In [2]:
import numpy as np
from datetime import timedelta, datetime
import random
from random import randrange

def random_date(start, end):
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

d1 = datetime.strptime('1/1/2010 12:00 AM', '%m/%d/%Y %I:%M %p')
d2 = datetime.now()

data_rating = np.empty(shape=(450000), dtype=[('client_sk', int), 
                                        ('valid_from_dttm', datetime), 
                                        ('valid_to_dttm', datetime), 
                                        ('rating', int), 
                                        ('etl_processed_dttm', datetime)])

In [66]:
for i in range(450000):
    data_rating[i][0] = random.randint(1, 200000)
    data_rating[i][1] = random_date(d1, d2)
    data_rating[i][3] = random.randint(1, 1000)
    data_rating[i][4] = random_date(d1, d2)

In [3]:
import pandas as pd
pd.DataFrame(data_rating).to_csv("s_client_rating.csv")

In [4]:
import string
def generate_random_string(length):
    letters = string.digits + string.ascii_uppercase + string.ascii_lowercase
    rand_string = ''.join(random.choice(letters) for i in range(length))
    return rand_string

In [73]:
loan_types = ['Рефинансирование', 'Автокредит', 'Кредит наличными', 'Кредитная карта']
data_loans_h = np.empty(shape=(300000), dtype=[('created_dttm', datetime), 
                                        ('loan_type', 'U20'), 
                                        ('loan_id', 'U10'), 
                                        ('etl_processed_dttm', datetime)])
for i in range(300000):
    data_loans_h[i][0] = random_date(d1, d2)
    data_loans_h[i][1] = np.random.choice(loan_types, p=[0.05, 0.1, 0.35, 0.5])
    data_loans_h[i][2] = generate_random_string(10)
    data_loans_h[i][3] = random_date(d1, d2)

In [ ]:
pd.DataFrame(data_loans_h).to_csv("h_loan.csv")

In [76]:
refinancing_loans = []
auto_loans = []
knz_loans = []
credit_cards = []
for i in range(300000):
    if data_loans_h[i][1] == 'Рефинансирование':
        refinancing_loans.append(i + 1)
    elif data_loans_h[i][1] == 'Автокредит':
        auto_loans.append(i + 1)
    elif data_loans_h[i][1] == 'Кредит наличными':
        knz_loans.append(i + 1)
    else:
        credit_cards.append(i + 1)

In [83]:
data_knz_loans = np.empty(shape=(105097), dtype=[('loan_sk', int), 
                                        ('created_dttm', datetime), 
                                        ('open_dt', datetime), 
                                        ('monthly_payment', float),
                                        ('credit_sum', int), 
                                        ('duration', int),
                                        ('is_closed', bool),
                                        ('close_dttm', datetime),
                                        ('interest_rate', float),
                                        ('credit_vacation', bool),
                                        ('etl_processed_dttm', datetime)])

In [96]:
created_1 = datetime.strptime('1/1/2022 12:00 AM', '%m/%d/%Y %I:%M %p')
proc_1 = datetime.strptime('1/1/2022 12:00 AM', '%m/%d/%Y %I:%M %p')
closed_date = datetime.strptime('1/1/2019 12:00 AM', '%m/%d/%Y %I:%M %p')
for i in range(105097):
    data_knz_loans[i][0] = knz_loans[i]
    data_knz_loans[i][1] = random_date(created_1, d2)
    data_knz_loans[i][2] = random_date(d1, created_1)
    data_knz_loans[i][4] = int(np.random.normal(500000, 200000))
    data_knz_loans[i][5] = np.random.randint(1, 36)
    data_knz_loans[i][8] = np.random.uniform(14.9, 30)
    data_knz_loans[i][3] = data_knz_loans[i][4] * (1.0 + (data_knz_loans[i][8]/100))/data_knz_loans[i][5]
    if data_knz_loans[i][2] >= closed_date:
        data_knz_loans[i][6] = False
    else:
        data_knz_loans[i][6] = True
    if data_knz_loans[i][6] == True:
        data_knz_loans[i][7] = random_date(data_knz_loans[i][2], d2)
    if data_knz_loans[i][6] == True:
        data_knz_loans[i][9] = False
    else:
        data_knz_loans[i][9] = np.random.choice([True, False], p = [0.1, 0.9])
    data_knz_loans[i][10] = random_date(proc_1, d2)

In [98]:
pd.DataFrame(data_knz_loans).to_csv("s_loan_cash.csv")

In [99]:
pd.DataFrame(data_loans_h).to_csv("h_loan.csv")

In [101]:
data_ref_loans = np.empty(shape=(15231), dtype=[('loan_sk', int), 
                                        ('created_dttm', datetime), 
                                        ('open_dt', datetime), 
                                        ('monthly_payment', float),
                                        ('credit_sum', int), 
                                        ('duration', int),
                                        ('is_closed', bool),
                                        ('close_dttm', datetime),
                                        ('interest_rate', float),
                                        ('refinancing_bank', 'U30'),
                                        ('refinancing_loan_sk', int),
                                        ('etl_processed_dttm', datetime)])

In [105]:
banks = ['Сбербанк', 'Тинькофф', 'Газпромбанк', 'Альфа-банк', 'Почта-банк', 'ВТБ', 'Открытие', 'Райффайзенбанк']
for i in range(15231):
    data_ref_loans[i][0] = refinancing_loans[i]
    data_ref_loans[i][1] = random_date(created_1, d2)
    data_ref_loans[i][2] = random_date(d1, created_1)
    data_ref_loans[i][4] = int(np.random.normal(500000, 200000))
    data_ref_loans[i][5] = np.random.randint(1, 36)
    data_ref_loans[i][8] = np.random.uniform(14.9, 30)
    data_ref_loans[i][3] = data_ref_loans[i][4] * (1.0 + (data_ref_loans[i][8]/100))/data_ref_loans[i][5]
    if data_ref_loans[i][2] >= closed_date:
        data_ref_loans[i][6] = False
    else:
        data_ref_loans[i][6] = True
    if data_ref_loans[i][6] == True:
        data_ref_loans[i][7] = random_date(data_ref_loans[i][2], d2)
    data_ref_loans[i][9] = np.random.choice(banks)
    if data_ref_loans[i][9] == 'Наш банк':
        data_ref_loans[i][10] = np.random.choice(knz_loans)
    data_ref_loans[i][11] = random_date(proc_1, d2)

In [106]:
pd.DataFrame(data_ref_loans).to_csv("s_loan_refinancing.csv")

In [108]:
print(len(credit_cards))

149797

In [110]:
data_ref_cards = np.empty(shape=(149797), dtype=[('loan_sk', int), 
                                        ('created_dttm', datetime), 
                                        ('open_dt', datetime), 
                                        ('card_number', 'U16'),
                                        ('card_limit', int), 
                                        ('purpose', 'U50'),
                                        ('is_closed', bool),
                                        ('close_dttm', datetime),
                                        ('interest_rate', float),
                                        ('duration', int),
                                        ('etl_processed_dttm', datetime)])

In [112]:
import string
def generate_random_string_numbers(length):
    letters = string.digits
    rand_string = ''.join(random.choice(letters) for i in range(length))
    return rand_string

In [120]:
def random_upper_string(length):
    letters = string.digits + string.ascii_uppercase
    rand_string = ''.join(random.choice(letters) for i in range(length))
    return rand_string

In [115]:
purposes = ['Покупки', 'Лечение', 'Учеба', 'Поездки', 'Инвестиции', 'Открытие бизнеса']
for i in range(149797):
    data_ref_cards[i][0] = credit_cards[i]
    data_ref_cards[i][1] = random_date(created_1, d2)
    data_ref_cards[i][2] = random_date(d1, created_1)
    data_ref_cards[i][3] = generate_random_string_numbers(16)
    data_ref_cards[i][4] = int(np.random.normal(700000, 300000))
    data_ref_cards[i][8] = np.random.uniform(12, 35)
    data_ref_cards[i][5] = np.random.choice(purposes, p=[0.7, 0.1, 0.05, 0.1, 0.02, 0.03])
    data_ref_cards[i][9] = np.random.randint(1, 36)
    if data_ref_cards[i][2] >= closed_date:
        data_ref_cards[i][6] = False
    else:
        data_ref_cards[i][6] = True
    if data_ref_cards[i][6] == True:
        data_ref_cards[i][7] = random_date(data_ref_cards[i][2], d2)
    data_ref_cards[i][10] = random_date(proc_1, d2)

In [116]:
pd.DataFrame(data_ref_cards).to_csv("s_loan_credit_card.csv")

In [119]:
data_ref_auto = np.empty(shape=(29875), dtype=[('loan_sk', int), 
                                        ('created_dttm', datetime), 
                                        ('open_dt', datetime), 
                                        ('own_funds_sum', int),
                                        ('auto_price', int), 
                                        ('is_closed', bool),
                                        ('close_dttm', datetime),
                                        ('interest_rate', float),
                                        ('duration', int),
                                        ('auto_type', 'U20'),
                                        ('auto_model', 'U50'),
                                        ('monthly_payment', float),
                                        ('vin', 'U17'),
                                        ('etl_processed_dttm', datetime)])

In [129]:
types = ['Купэ', 'Лимузин', 'Универсал', 'Внедорожник', 'Кабриолет', 'Седан', 'Хетчбэк', 'Пикап'] 
models = ['Kia Rio', 'Hyundai Solaris', 'Lada Kalina', 'Toyota Corola', 'Toyota RAV4', 'Lada Granta', 
         'Lada Vesta', 'Hyundai Creta', 'VW Polo', 'Lada Largus', 'VW Tiguan', 'Renault Logan',
          'Renault Duster', 'Toyota Camry', 'Renault Sandero', 'Kia Sportage', 'Nissan Qashqai', 
          'Skoda Octavia', 'Nissan X-Trail', 'Mazda CX-5', 'Skoda Rapid', 'Renault Kaptur', 
          'Autovaz Niva', 'Kia Optima']
for i in range(29875):
    data_ref_auto[i][0] = auto_loans[i]
    data_ref_auto[i][1] = random_date(created_1, d2)
    data_ref_auto[i][2] = random_date(d1, created_1)
    data_ref_auto[i][4] = abs(int(np.random.normal(1000000, 500000)))
    if data_ref_auto[i][2] >= closed_date:
        data_ref_auto[i][5] = False
    else:
        data_ref_auto[i][5] = True
    if data_ref_auto[i][5] == True:
        data_ref_auto[i][6] = random_date(data_ref_auto[i][2], d2)
    data_ref_auto[i][7] = np.random.uniform(14.9, 32)
    data_ref_auto[i][8] = np.random.randint(1, 48)
    data_ref_auto[i][9] = np.random.choice(types)
    data_ref_auto[i][10] = np.random.choice(models)
    data_ref_auto[i][3] = np.random.randint(int(data_ref_auto[i][4]*0.05), int(data_ref_auto[i][4]*0.4))
    data_ref_auto[i][11] = (data_ref_auto[i][4] - data_ref_auto[i][3]) * (1.0 + data_ref_auto[i][7] / 100) / data_ref_auto[i][8]
    data_ref_auto[i][12] = random_upper_string(17)
    data_ref_auto[i][13] = random_date(proc_1, d2)

In [130]:
pd.DataFrame(data_ref_auto).to_csv("s_loan_auto.csv")

In [8]:
data_pledge = np.empty(shape=(89023), dtype=[('loan_sk', int), 
                                        ('created_dttm', datetime), 
                                        ('pledge_type', 'U20'),
                                        ('price', int),
                                        ('is_actual', bool),
                                        ('is_only_owner', bool),
                                        ('etl_processed_dttm', datetime)])

In [9]:
created_1 = datetime.strptime('1/1/2022 12:00 AM', '%m/%d/%Y %I:%M %p')
proc_1 = datetime.strptime('1/1/2022 12:00 AM', '%m/%d/%Y %I:%M %p')
closed_date = datetime.strptime('1/1/2019 12:00 AM', '%m/%d/%Y %I:%M %p')

In [10]:
pledge_types = ['Автомобиль', 'Ценная бумага', 'Коммерческая недвижимость', 'Акции', 'Залог вещей', 
               'Антиквариат', 'Производственное оборудование', 'Недвижимость', 'Облигации', 'Ювелирные изделия']
for i in range(89023):
    data_pledge[i][0] = (i * 3) + 1
    data_pledge[i][1] = random_date(d1, d2)
    data_pledge[i][2] = np.random.choice(pledge_types)
    if data_pledge[i][2] in ['Коммерческая недвижимость', 'Недвижимость']:
        data_pledge[i][3] = np.random.randint(2000000, 15000000)
    else:
        data_pledge[i][3] = np.random.randint(100000, 3000000)
    data_pledge[i][4] = np.random.choice([True, False], p = [0.7, 0.3])
    data_pledge[i][5] = np.random.choice([True, False], p = [0.8, 0.2])
    data_pledge[i][6] = random_date(proc_1, d2)

In [11]:
pd.DataFrame(data_pledge).to_csv("s_loan_pledge.csv")

In [12]:
systems = ['CRM', 'ERP', 'ORA', 'APP', 'WLT']
data_app_h = np.empty(shape=(450000), dtype=[('created_dttm', datetime), 
                                        ('source_system_cd', 'U3'), 
                                        ('application_id', 'U10'), 
                                        ('etl_processed_dttm', datetime)])
for i in range(450000):
    data_app_h[i][0] = random_date(d1, d2)
    data_app_h[i][1] = np.random.choice(systems, p = [0.8, 0.05, 0.05, 0.07, 0.03])
    data_app_h[i][2] = generate_random_string(10)
    data_app_h[i][3] = random_date(d1, d2)

In [13]:
pd.DataFrame(data_app_h).to_csv("h_application.csv")

In [3]:
purposes = ['Покупки', 'Лечение', 'Учеба', 'Поездки', 'Инвестиции', 'Открытие бизнеса']
loan_types = ['Рефинансирование', 'Автокредит', 'Кредит наличными', 'Кредитная карта']
sale_methods = ['Сайт', 'Приложение', 'Интеграция при покупке', 'Реклама Google', 'Реклама Yandex', 'От знакомых']
data_app_info = np.empty(shape=(450000), dtype=[('application_sk', int), 
                                        ('created_dttm', datetime), 
                                        ('credit_type', 'U20'), 
                                        ('credit_sum', int), 
                                        ('phone_verified', bool),
                                        ('sale_method', 'U50'),
                                        ('purpose', 'U20'),
                                        ('is_ready_for_guarantor', bool),
                                        ('is_ready_for_docs', bool),
                                        ('is_pledge', bool), 
                                        ('pledge_type', 'U50'),
                                        ('etl_processed_dttm', datetime)])
for i in range(450000):
    data_app_info[i][0] = np.random.randint(1, 450000)
    data_app_info[i][1] = random_date(d1, d2)
    data_app_info[i][2] = np.random.choice(loan_types, p=[0.05, 0.1, 0.35, 0.5])
    data_app_info[i][3] = int(np.random.normal(500000, 200000))
    data_app_info[i][4] = np.random.choice([True, False], p = [0.7, 0.3])
    data_app_info[i][5] = np.random.choice(sale_methods)
    data_app_info[i][6] = np.random.choice(purposes, p=[0.7, 0.1, 0.05, 0.1, 0.02, 0.03])
    data_app_info[i][7] = np.random.choice([True, False], p = [0.65, 0.35])
    data_app_info[i][8] = np.random.choice([True, False], p = [0.8, 0.2])
    data_app_info[i][9] = np.random.choice([True, False], p = [0.3, 0.7])
    data_app_info[i][10] = random_date(d1, d2)

In [4]:
import pandas as pd
pd.DataFrame(data_app_info).to_csv("s_application_info.csv")

In [37]:
data_app_answer = np.empty(shape=(1145001), dtype=[('application_sk', int), 
                                        ('valid_from_dttm', datetime), 
                                        ('valid_to_dttm', datetime), 
                                        ('stage_num', int), 
                                        ('stage_desc', 'U100'), 
                                        ('reject_reason', 'U50'),
                                        ('etl_processed_dttm', datetime)])

In [ ]:
num_stages = np.empty(shape=(450000))
for i in range()

2 - а) проверка успешно б) проверка отказ
3 - уточнение проверка отказ/уточнение проверка успешно 
4 - проверка уточнение повторная проверка отказ/проверка уточнение повторная успешно 
5 - уточнение проверка уточнение проверка отказ

для 280000 = 2
[1, 280000]
для 115000 = 3
[280001, 395000]
для 35000 = 4
[395001, 430000]
для 20000 = 5
[430001, 450000]

In [39]:
stages = ['Уточнение информации', 'Проверка информации', 'Отказ', 'Успешно'] 
rejects = ['Закредитованность клиента', 'Не удалось согласовать', 'Есть просрочки', 'Нет прописки', 'Неверная информация', 
          'Слишком большая запрошенная сумма', 'Низкий кредитный рейтинг в БКИ', 'Недействительный паспорт', 
          'Низкий доход', 'Подозрение на мошенничество', 'Время действия предложения истекло', 'Недавний отказ', 
          'Недееспособность', 'Есть ипотека с просрочкой', 'Отказ со стороны клиента', 'Иностранный гражданин', 
          'Банкротство клиента']
v1 = datetime.strptime('1/1/2016 12:00 AM', '%m/%d/%Y %I:%M %p')
v2 = datetime.strptime('1/1/2018 12:00 AM', '%m/%d/%Y %I:%M %p')
v3 = datetime.strptime('1/1/2019 12:00 AM', '%m/%d/%Y %I:%M %p')
for i in range(1, 280001):
    data_app_answer[2*i-2][0] = i
    data_app_answer[2*i-1][0] = i
    data_app_answer[2*i-2][1] = random_date(d1, d2)
    h = np.random.randint(10, 200)
    data_app_answer[2*i-1][1] = data_app_answer[2*i-2][1] + timedelta(hours=h)
    data_app_answer[2*i-2][3] = 1
    data_app_answer[2*i-1][3] = 2
    data_app_answer[2*i-2][4] = 'Проверка информации'
    data_app_answer[2*i-1][4] = np.random.choice(['Отказ', 'Одобрение'], p = [0.33, 0.67])
    if data_app_answer[2*i-1][4] == 'Отказ':
        data_app_answer[2*i-1][5] = np.random.choice(rejects)
    data_app_answer[2*i-1][6] =data_app_answer[2*i-1][1] + timedelta(hours=2)
    data_app_answer[2*i-2][6] =data_app_answer[2*i-2][1] + timedelta(hours=2)

In [40]:
for i in range(280001, 395001):
    data_app_answer[3*(i-280000)+559998][0] = i
    data_app_answer[3*(i-280000)+559999][0] = i
    data_app_answer[3*(i-280000)+560000][0] = i
    data_app_answer[3*(i-280000)+559998][1] = random_date(d1, d2)
    h = np.random.randint(10, 200)
    data_app_answer[3*(i-280000)+559999][1] = data_app_answer[3*(i-280000)+559998][1] + timedelta(hours=h)
    data_app_answer[3*(i-280000)+560000][1] = data_app_answer[3*(i-280000)+559999][1] + timedelta(hours=h)
    data_app_answer[3*(i-280000)+559998][3] = 1
    data_app_answer[3*(i-280000)+559999][3] = 2
    data_app_answer[3*(i-280000)+560000][3] = 3
    data_app_answer[3*(i-280000)+559998][4] = 'Уточнение информации'
    data_app_answer[3*(i-280000)+559999][4] = 'Проверка информации'
    data_app_answer[3*(i-280000)+560000][4] = np.random.choice(['Отказ', 'Одобрение'], p = [0.33, 0.67])
    if data_app_answer[3*(i-280000)+560000][4] == 'Отказ':
        data_app_answer[3*(i-280000)+560000][5] = np.random.choice(rejects)
    data_app_answer[3*(i-280000)+559998][6] =data_app_answer[3*(i-280000)+559998][1] + timedelta(hours=2)
    data_app_answer[3*(i-280000)+559999][6] =data_app_answer[3*(i-280000)+559999][1] + timedelta(hours=2)
    data_app_answer[3*(i-280000)+560000][6] =data_app_answer[3*(i-280000)+560000][1] + timedelta(hours=2)

In [41]:
for i in range(395001, 430001):
    data_app_answer[4*(i-395000)+904997][0] = i
    data_app_answer[4*(i-395000)+904998][0] = i
    data_app_answer[4*(i-395000)+904999][0] = i
    data_app_answer[4*(i-395000)+905000][0] = i
    h = np.random.randint(10, 200)
    data_app_answer[4*(i-395000)+904997][1] = random_date(d1, d2)
    data_app_answer[4*(i-395000)+904998][1] = data_app_answer[4*(i-395000)+904997][1] + timedelta(hours=h)
    data_app_answer[4*(i-395000)+904999][1] = data_app_answer[4*(i-395000)+904998][1] + timedelta(hours=h)
    data_app_answer[4*(i-395000)+905000][1] = data_app_answer[4*(i-395000)+904999][1] + timedelta(hours=h)
    data_app_answer[4*(i-395000)+904997][3] = 1
    data_app_answer[4*(i-395000)+904998][3] = 2
    data_app_answer[4*(i-395000)+904999][3] = 3
    data_app_answer[4*(i-395000)+905000][3] = 4
    data_app_answer[4*(i-395000)+904997][4] = 'Проверка информации'
    data_app_answer[4*(i-395000)+904998][4] = 'Уточнение информации'
    data_app_answer[4*(i-395000)+904999][4] = 'Проверка информации'
    data_app_answer[4*(i-395000)+905000][4] = np.random.choice(['Отказ', 'Одобрение'], p = [0.33, 0.67])
    if data_app_answer[4*(i-395000)+905000][4] == 'Отказ':
        data_app_answer[4*(i-395000)+905000][5] = np.random.choice(rejects)
    data_app_answer[4*(i-395000)+904997][6] =data_app_answer[4*(i-395000)+904997][1] + timedelta(hours=2)
    data_app_answer[4*(i-395000)+904998][6] =data_app_answer[4*(i-395000)+904998][1] + timedelta(hours=2)
    data_app_answer[4*(i-395000)+904999][6] =data_app_answer[4*(i-395000)+904999][1] + timedelta(hours=2)
    data_app_answer[4*(i-395000)+905000][6] =data_app_answer[4*(i-395000)+905000][1] + timedelta(hours=2)

In [42]:
for i in range(430001, 450001):
    data_app_answer[5*(i-430000)+1044996][0] = i
    data_app_answer[5*(i-430000)+1044997][0] = i
    data_app_answer[5*(i-430000)+1044998][0] = i
    data_app_answer[5*(i-430000)+1044999][0] = i
    data_app_answer[5*(i-430000)+1045000][0] = i
    h = np.random.randint(10, 200)
    data_app_answer[5*(i-430000)+1044996][1] = random_date(d1, d2)
    data_app_answer[5*(i-430000)+1044997][1] = data_app_answer[5*(i-430000)+1044996][1] + timedelta(hours=h)
    data_app_answer[5*(i-430000)+1044998][1] = data_app_answer[5*(i-430000)+1044997][1] + timedelta(hours=h)
    data_app_answer[5*(i-430000)+1044999][1] = data_app_answer[5*(i-430000)+1044998][1] + timedelta(hours=h)
    data_app_answer[5*(i-430000)+1045000][1] = data_app_answer[5*(i-430000)+1044999][1] + timedelta(hours=h)
    data_app_answer[5*(i-430000)+1044996][3] = 1
    data_app_answer[5*(i-430000)+1044997][3] = 2
    data_app_answer[5*(i-430000)+1044998][3] = 3
    data_app_answer[5*(i-430000)+1044999][3] = 4
    data_app_answer[5*(i-430000)+1045000][3] = 5
    data_app_answer[5*(i-430000)+1044996][4] = 'Уточнение информации'
    data_app_answer[5*(i-430000)+1044997][4] = 'Проверка информации'
    data_app_answer[5*(i-430000)+1044998][4] = 'Уточнение информации'
    data_app_answer[5*(i-430000)+1044999][4] = 'Проверка информации'
    data_app_answer[5*(i-430000)+1045000][4] = np.random.choice(['Отказ', 'Одобрение'], p = [0.33, 0.67])
    if data_app_answer[5*(i-430000)+1045000][4] == 'Отказ':
        data_app_answer[5*(i-430000)+1045000][5] = np.random.choice(rejects)
    data_app_answer[5*(i-430000)+1044996][6] = data_app_answer[5*(i-430000)+1044996][1] + timedelta(hours=2)
    data_app_answer[5*(i-430000)+1044997][6] = data_app_answer[5*(i-430000)+1044997][1] + timedelta(hours=2)
    data_app_answer[5*(i-430000)+1044998][6] = data_app_answer[5*(i-430000)+1044998][1] + timedelta(hours=2)
    data_app_answer[5*(i-430000)+1044999][6] = data_app_answer[5*(i-430000)+1044999][1] + timedelta(hours=2)
    data_app_answer[5*(i-430000)+1045000][6] = data_app_answer[5*(i-430000)+1045000][1] + timedelta(hours=2)

In [43]:
pd.DataFrame(data_app_answer).to_csv("s_application_answer.csv")

In [44]:
data_call_h = np.empty(shape=(1300000), dtype=[('created_dttm', datetime), 
                                        ('call_id', 'U10'), 
                                        ('etl_processed_dttm', datetime)])
for i in range(1300000):
    data_call_h[i][0] = random_date(d1, d2)
    data_call_h[i][1] = generate_random_string(10)
    data_call_h[i][2] = random_date(d1, d2)

In [45]:
pd.DataFrame(data_call_h).to_csv("h_call.csv")

In [48]:
data_call_gen = np.empty(shape=(1300000), dtype=[('call_start_dttm', datetime), 
                                        ('call_end_dttm', datetime),
                                        ('stages_num', int),
                                        ('recipient_phone_num', 'U20'),
                                        ('call_duration', int),
                                        ('is_first_attempt', bool),
                                        ('wait_time', int),
                                        ('hold_time',int),
                                        ('auto_answer', bool),
                                        ('etl_processed_dttm', datetime)])

In [52]:
for i in range(1300000):
    data_call_gen[i][0] = random_date(d1, d2)
    timesum = np.random.randint(30, 500)
    data_call_gen[i][1] = data_call_gen[i][0] + timedelta(seconds=timesum)
    data_call_gen[i][2] = np.random.randint(1, 3)
    data_call_gen[i][3] = generate_mobile_phone()
    data_call_gen[i][4] = timesum
    data_call_gen[i][5] = np.random.choice([True, False], p=[0.7, 0.3])
    data_call_gen[i][6] = np.random.randint(0, 30)
    data_call_gen[i][7] = np.random.randint(0, 30)
    data_call_gen[i][8] = np.random.choice([True, False], p=[0.2, 0.8])
    data_call_gen[i][9] = random_date(d1, d2)

In [53]:
pd.DataFrame(data_call_gen).to_csv("s_call_general.csv")

In [57]:
data_call_answer = np.empty(shape=(1300000), dtype=[('is_promised_pay', bool), 
                                        ('date_promised', datetime),
                                        ('sum_promised', int),
                                        ('is_rejected', bool),
                                        ('next_call_dt', datetime),
                                        ('is_reseted', bool),
                                        ('delay_reason', 'U50'),
                                        ('etl_processed_dttm', datetime)])

In [59]:
delay_reasons = ['Задержка зарплаты', 'Больничный', 'Семейные обстоятельства', 'Забыл про долг', 
                'Понижение ЗП', 'Потеря работы', 'Непредвиденные траты', 'Банкротство']
for i in range(1300000):
    data_call_answer[i][0] = np.random.choice([True, False], p=[0.45, 0.55])
    if data_call_answer[i][0] == True:
        data_call_answer[i][2] = np.random.randint(5000, 40000)
        data_call_answer[i][1] = random_date(d1, d2)
    else:
        data_call_answer[i][3] = np.random.choice([True, False], p=[0.35, 0.65])
    data_call_answer[i][4] = random_date(d1, d2)
    if data_call_answer[i][3] == False:
        data_call_answer[i][5] = np.random.choice([True, False], p=[0.35, 0.65])
    data_call_answer[i][6] = np.random.choice(delay_reasons, p=[0.3, 0.05, 0.1, 0.05, 0.1, 0.1, 0.27, 0.03])
    data_call_answer[i][7] = random_date(d1, d2)

In [60]:
pd.DataFrame(data_call_answer).to_csv("s_call_result.csv")

In [61]:
data_emp_h = np.empty(shape=(1500), dtype=[('created_dttm', datetime), 
                                        ('employee_id', 'U10'), 
                                        ('etl_processed_dttm', datetime)])
for i in range(1500):
    data_emp_h[i][0] = random_date(d1, d2)
    data_emp_h[i][1] = generate_random_string(10)
    data_emp_h[i][2] = random_date(d1, d2)

In [62]:
pd.DataFrame(data_emp_h).to_csv("h_employee.csv")

In [12]:
data_emp_info = np.empty(shape=(4000), dtype=[('employee_sk', int), 
                                        ('valid_from_dttm', datetime),
                                        ('valid_to_dttm', datetime),
                                        ('job_start_dt', datetime),
                                        ('position_title', 'U50'), 
                                        ('salary', int), 
                                        ('is_certificated', bool),
                                        ('job_schedule', 'U50'),
                                        ('timezone', 'U20'),
                                        ('health_insurance', bool),
                                        ('etl_processed_dttm', datetime)])

In [17]:
positions = ['Оператор колл-центра', 'Оператор отделения банка', 'Руководитель отдела', 'Разработчик', 'Оператор чата',
            'Аналитик']
schedules = ['5/2', '2/2', 'Плавающий график с 2 выходными', '3/3']
timezones = ['GMT + 03:00:00', 'GMT + 02:00:00', 'GMT + 04:00:00', 'GMT + 05:00:00', 'GMT + 06:00:00',
           'GMT + 07:00:00', 'GMT + 08:00:00', 'GMT + 09:00:00', 'GMT + 10:00:00', 'GMT + 11:00:00']
for i in range(4000):
    data_emp_info[i][0] = np.random.randint(1, 1500)
    data_emp_info[i][1] = random_date(d1, d2)
    data_emp_info[i][3] = random_date(d1, data_emp_info[i][1])
    data_emp_info[i][4] = np.random.choice(positions, p=[0.4, 0.2, 0.02, 0.05, 0.3, 0.03])
    data_emp_info[i][5] = abs(int(np.random.normal(60000, 20000)))
    data_emp_info[i][6] = np.random.choice([True, False], p=[0.8, 0.2])
    data_emp_info[i][7] = np.random.choice(schedules, p=[0.3, 0.4, 0.2, 0.1])
    data_emp_info[i][8] = np.random.choice(timezones, p=[0.7, 0.06, 0.05, 0.05, 0.03, 0.02, 0.025, 0.025, 0.02, 0.02])
    data_emp_info[i][9] = np.random.choice([True, False], p=[0.7, 0.3])
    data_emp_info[i][10] = random_date(data_emp_info[i][1], d2)

In [18]:
pd.DataFrame(data_emp_info).to_csv("s_employee_info.csv")

In [5]:
import random
data_bki_h = np.empty(shape=(700000), dtype=[('created_dttm', datetime), 
                                        ('record_id', 'U10'), 
                                        ('etl_processed_dttm', datetime)])
for i in range(700000):
    data_bki_h[i][0] = random_date(d1, d2)
    data_bki_h[i][1] = generate_random_string(10)
    data_bki_h[i][2] = random_date(d1, d2)

In [6]:
pd.DataFrame(data_bki_h).to_csv("h_bki_record.csv")

In [7]:
data_bki_chng = np.empty(shape=(1500000), dtype=[('record_sk', int), 
                                        ('valid_from_dttm', datetime),
                                        ('valid_to_dttm', datetime),
                                        ('bureau_name', 'U30'),
                                        ('request_dttm', datetime), 
                                        ('delay_5_days', int), 
                                        ('delay_30_days', int), 
                                        ('delay_60_days', int), 
                                        ('delay_90_days', int), 
                                        ('delay_90_plus_days', int),
                                        ('max_delay_sum', float),
                                        ('debt_left', float),
                                        ('last_payment_dt', datetime),
                                        ('etl_processed_dttm', datetime)])

In [9]:
bureau = ['Эквифакс', 'ОКБ', 'НБКИ', 'Русский стандарт', 'Столичное кредитное бюро']
for i in range(1500000):
    data_bki_chng[i][0] = np.random.randint(1, 700000)
    data_bki_chng[i][1] = random_date(d1, d2)
    data_bki_chng[i][3] = np.random.choice(bureau, p=[0.4, 0.3, 0.2, 0.07, 0.03])
    h = np.random.randint(10, 200)
    data_bki_chng[i][4] = data_bki_chng[i][1] - timedelta(hours=h)
    data_bki_chng[i][5] = abs(int(np.random.normal(1.5, 0.5)))
    data_bki_chng[i][6] = abs(int(np.random.normal(0.8, 0.25)))
    data_bki_chng[i][7] = abs(int(np.random.normal(0.5, 0.2)))
    data_bki_chng[i][8] = abs(int(np.random.normal(0.3, 0.15)))
    data_bki_chng[i][9] = abs(int(np.random.normal(0.1, 0.1)))
    data_bki_chng[i][10] = np.random.randint(0, 1000000)
    data_bki_chng[i][11] = np.random.randint(0, 1500000)
    b = np.random.randint(10, 1500)
    data_bki_chng[i][12] = data_bki_chng[i][1] - timedelta(hours=b)
    data_bki_chng[i][13] = random_date(d1, d2)

In [10]:
pd.DataFrame(data_bki_chng).to_csv("s_bki_record_chng.csv")

In [11]:
data_bki_gen = np.empty(shape=(700000), dtype=[
                                        ('credit_id', 'U10'),
                                        ('credit_sum', int),
                                        ('request_dttm', datetime), 
                                        ('open_dt', datetime), 
                                        ('close_dt', datetime), 
                                        ('final_payment_dt', datetime), 
                                        ('bureau_name', 'U30'), 
                                        ('credit_type', 'U30'),
                                        ('pledge', 'U20'),
                                        ('etl_processed_dttm', datetime)])

In [12]:
loan_types = ['Рефинансирование', 'Автокредит', 'Кредит наличными', 'Кредитная карта']
pledge_types = ['Нет данных', 'Автомобиль', 'Ценная бумага', 'Коммерческая недвижимость', 'Акции', 'Залог вещей', 
               'Антиквариат', 'Производственное оборудование', 'Недвижимость', 'Облигации', 'Ювелирные изделия']
for i in range(700000):
    data_bki_gen[i][0] = generate_random_string(10)
    data_bki_gen[i][1] = abs(int(np.random.normal(500000, 300000)))
    data_bki_gen[i][2] = random_date(d1, d2)
    data_bki_gen[i][3] = random_date(d1, data_bki_gen[i][2])
    is_closed = np.random.choice([True, False])
    if is_closed:
        data_bki_gen[i][4] = random_date(data_bki_gen[i][3], d2)
        data_bki_gen[i][5] = data_bki_gen[i][4]
    else:
        b = np.random.randint(1000, 30000)
        data_bki_gen[i][5] = data_bki_gen[i][3] + timedelta(hours=b)
    data_bki_gen[i][6] = np.random.choice(bureau, p=[0.4, 0.3, 0.2, 0.07, 0.03])
    data_bki_gen[i][7] = np.random.choice(loan_types, p=[0.05, 0.1, 0.35, 0.5])
    data_bki_gen[i][8] = np.random.choice(pledge_types, p=[0.75, 0.05, 0.01, 0.02, 0.03, 0.03, 0.01, 0.01, 0.07, 0.01, 0.01])
    data_bki_gen[i][9] = random_date(d1, d2)

In [13]:
pd.DataFrame(data_bki_gen).to_csv("s_bki_record_general.csv")

In [14]:
data_paym_h = np.empty(shape=(4000000), dtype=[('created_dttm', datetime), 
                                        ('payment_id', 'U10'), 
                                        ('etl_processed_dttm', datetime)])
for i in range(4000000):
    data_paym_h[i][0] = random_date(d1, d2)
    data_paym_h[i][1] = generate_random_string(10)
    data_paym_h[i][2] = random_date(d1, d2)

In [15]:
pd.DataFrame(data_paym_h).to_csv("h_payment.csv")

In [17]:
methods = ['Карта', 'Автомат', 'Наличными в отделении', 'Платежные системы']
statuses = ['Успешно', 'В обработке', 'Отклонен']
data_paym_d = np.empty(shape=(4000000), dtype=[('created_dttm', datetime), 
                                        ('payment_method', 'U50'),
                                        ('payment_sum', float),
                                        ('status', 'U50'),
                                        ('etl_processed_dttm', datetime)])
for i in range(4000000):
    data_paym_d[i][0] = random_date(d1, d2)
    data_paym_d[i][1] = np.random.choice(methods, p=[0.8, 0.1, 0.05, 0.05])
    data_paym_d[i][2] = abs(np.random.normal(15000, 10000))
    data_paym_d[i][3] = np.random.choice(statuses, p=[0.93, 0.01, 0.06])
    data_paym_d[i][4] = random_date(d1, d2)

In [18]:
pd.DataFrame(data_paym_d).to_csv("s_payment_details.csv")

In [19]:
data_l_bki_client = np.empty(shape=(700000), dtype=[('client_sk', int), 
                                        ('record_sk', int),
                                        ('created_dttm', datetime),
                                        ('etl_processed_dttm', datetime)])
for i in range(700000):
    data_l_bki_client[i][0] = np.random.randint(1, 200000)
    data_l_bki_client[i][1] = i + 1
    data_l_bki_client[i][2] = random_date(d1, d2)
    data_l_bki_client[i][3] = random_date(d1, d2)

In [20]:
pd.DataFrame(data_l_bki_client).to_csv("l_bki_record_x_client.csv")

In [23]:
data_l_emp_client = np.empty(shape=(1500), dtype=[('client_sk', int), 
                                        ('employee_sk', int),
                                        ('created_dttm', datetime),
                                        ('etl_processed_dttm', datetime)])
for i in range(1500):
    data_l_emp_client[i][0] = np.random.randint(1, int(200000/1500 * (i + 1)))
    data_l_emp_client[i][1] = i + 1
    data_l_emp_client[i][2] = random_date(d1, d2)
    data_l_emp_client[i][3] = random_date(d1, d2)

In [24]:
pd.DataFrame(data_l_emp_client).to_csv("l_employee_x_client.csv")

In [26]:
leads_sk = [1, 5, 10, 159, 294, 1045, 1000, 1005, 7, 11, 56, 89, 124, 90, 234, 256, 156, 171, 189, 
            192, 195, 235, 266, 356, 498, 539, 602, 738, 810, 924, 1083, 1143, 1189, 1204, 1249, 
            1385, 1396, 1406, 1489, 1456, 1433, 693, 530, 431, 493, 781, 839, 938, 593, 893, 333, 334, 
            335, 336, 337, 928, 982, 683, 999, 998, 997, 1010, 1011, 345, 356, 378, 390,  
            295, 893, 831, 840, 850, 860, 444, 555, 285, 860, 398, 1090, 1456, 1378, 1296, 1101, 
            1025, 1489, 1386, 1296, 1185]
data_l_emp_lead = np.empty(shape=(1500), dtype=[
                                        ('lead_sk', int),
                                        ('created_dttm', datetime),
                                        ('etl_processed_dttm', datetime)])
for i in range(1500):
    data_l_emp_lead[i][0] = np.random.choice(leads_sk)
    data_l_emp_lead[i][1] = random_date(d1, d2)
    data_l_emp_lead[i][2] = random_date(d1, d2)

In [27]:
pd.DataFrame(data_l_emp_lead).to_csv("l_employee_x_lead.csv")

In [31]:
data_l_emp_call = np.empty(shape=(1600000), dtype=[('employee_sk', int),
                                        ('call_sk', int),
                                        ('created_dttm', datetime),
                                        ('etl_processed_dttm', datetime)])
for i in range(1600000):
    data_l_emp_call[i][0] = np.random.randint(1, 1500)
    data_l_emp_call[i][1] = (i + 1) % 1300000
    data_l_emp_call[i][2] = random_date(d1, d2)
    data_l_emp_call[i][3] = random_date(d1, d2)

In [32]:
pd.DataFrame(data_l_emp_call).to_csv("l_employee_x_call.csv")

In [33]:
data_l_loan_call = np.empty(shape=(1600000), dtype=[('loan_sk', int),
                                        ('call_sk', int),
                                        ('created_dttm', datetime),
                                        ('etl_processed_dttm', datetime)])
for i in range(1300000):
    data_l_loan_call[i][0] = np.random.randint(1, 300000)
    data_l_loan_call[i][1] = i + 1
    data_l_loan_call[i][2] = random_date(d1, d2)
    data_l_loan_call[i][3] = random_date(d1, d2)

In [34]:
pd.DataFrame(data_l_loan_call).to_csv("l_loan_x_call.csv")

In [47]:
data_l_loan_pay = np.empty(shape=(4000000), dtype=[('loan_sk', int),
                                        ('payment_sk', int),
                                        ('created_dttm', datetime),
                                        ('etl_processed_dttm', datetime)])
for i in range(4000000):
    data_l_loan_pay[i][0] = np.random.randint(1, 300000)
    data_l_loan_pay[i][1] = i + 1
    data_l_loan_pay[i][2] = random_date(d1, d2)
    data_l_loan_pay[i][3] = random_date(d1, d2)

In [48]:
pd.DataFrame(data_l_loan_pay).to_csv("l_loan_x_payment.csv")

In [42]:
data_l_loan_app = np.empty(shape=(300000), dtype=[('application_sk', int),
                                        ('created_dttm', datetime),
                                        ('etl_processed_dttm', datetime)])
nextval = 1
for i in range(300000):
    data_l_loan_app[i][0] = nextval
    plus = np.random.choice ([1, 2, 3, 4], p=[0.75, 0.12, 0.07, 0.06])
    nextval += plus
    if nextval >= 450000:
        print('cringe')
    data_l_loan_app[i][1] = random_date(d1, d2)
    data_l_loan_app[i][2] = random_date(d1, d2)

In [44]:
pd.DataFrame(data_l_loan_app).to_csv("l_loan_x_application.csv")

In [45]:
data_l_app_client = np.empty(shape=(450000), dtype=[('client_sk', int),
                                        ('created_dttm', datetime),
                                        ('etl_processed_dttm', datetime)])
for i in range(450000):
    data_l_app_client[i][0] = np.random.randint(1, 200000)
    data_l_app_client[i][1] = random_date(d1, d2)
    data_l_app_client[i][2] = random_date(d1, d2)

In [46]:
pd.DataFrame(data_l_app_client).to_csv("l_application_x_client.csv")

In [ ]:
data_all_client = np.empty(shape=(30000), dtype=[('client_id', 'U10'), 
                                        ('record_created_dttm', datetime), 
                                        ()
                                        ('country', 'U50'), 
                                        ('region', 'U50')
                                        ('settlement', 'U100'), 
                                        ('street', 'U100'), 
                                        ('building', int), 
                                        ('appartment', 'U50'), 
                                        ('postal_index', 'U6'),
                                        ('etl_processed_dttm', datetime)])